.Artist {
  margin-top: 2em;
}
.ArtistAbout {
  width: 7.5em;
  height: 7.5em;
  background-color: #d5eaf5;
  margin: 2em 2em 2em 2em;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: -5px -5px 20px white, 3px 8px 10px 4px #83b8d9,
    6px 3px 10px #83b8d9;
  border: 2px solid #bddced;
  border-right: 2px solid #c9e4f1;
  border-bottom: 2px solid #c9e4f1;
}

.ArtistAbout img {
  width: 4.5em;
  height: 4.5em;
  border-radius: 100%;
  object-fit: cover;
}
